* {margin:0;}
main {
    color: purple;
    padding: 8px;
    
    background-color: rgb(55, 100, 50);
    background-image: url(https://rocketseat.com.br/v=cfca599cb367ccaf7377d56ddc7542f5);
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    background-origin: content-box;
    background-clip: content-box;
    background-attachment: fixed;

    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 0,0, 0.2)),
    url(https://rocketseat.com.br/icons/icon-144x144.png?v=cfca599cb367ccaf7377d56ddc7542f5)
    no-repeat right top / 50px border-box content-box fixed;


    
}